<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.game.mapper.admin.AboutusMapper">
    
	<sql id="aboutusColumns">
		a.id AS "id",
		a.title AS "title",
		a.aboutus AS "aboutus",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="aboutusJoins">
		
	</sql>
	
    <resultMap type="Aboutus" id="AboutusResult" autoMapping="true">
    	<result column="aboutus" property="aboutus"   typeHandler="com.jeeplus.core.mapper.ConvertBlobTypeHandler"/>
    </resultMap>
    
	<select id="get" resultMap="AboutusResult" >
		SELECT 
			<include refid="aboutusColumns"/>
		FROM game_aboutus a
		<include refid="aboutusJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultMap="AboutusResult" >
		SELECT 
			<include refid="aboutusColumns"/>
		FROM game_aboutus a
		<include refid="aboutusJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultMap="AboutusResult" >
		SELECT 
			<include refid="aboutusColumns"/>
		FROM game_aboutus a
		<include refid="aboutusJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO game_aboutus(
			id,
			title,
			aboutus,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{title},
			#{aboutus},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE game_aboutus SET 	
			title = #{title},
			aboutus = #{aboutus},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM game_aboutus
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE game_aboutus SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Aboutus" statementType="STATEMENT">
		select * FROM game_aboutus  where ${propertyName} = '${value}'
	</select>
	
</mapper>