<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.game.mapper.admin.ShopMapper">
    
	<sql id="shopColumns">
		a.id AS "id",
		a.name AS "name",
		a.description AS "description",
		a.picture AS "picture",
		a.hot AS "hot",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="shopJoins">
		
	</sql>
	
    <resultMap type="Shop" id="ShopResult" autoMapping="true">
    	<result column="description" property="description"   typeHandler="com.jeeplus.core.mapper.ConvertBlobTypeHandler"/>
    </resultMap>
    
	<select id="get" resultMap="ShopResult" >
		SELECT 
			<include refid="shopColumns"/>
		FROM game_shop a
		<include refid="shopJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultMap="ShopResult" >
		SELECT 
			<include refid="shopColumns"/>
		FROM game_shop a
		<include refid="shopJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultMap="ShopResult" >
		SELECT 
			<include refid="shopColumns"/>
		FROM game_shop a
		<include refid="shopJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO game_shop(
			id,
			name,
			description,
			picture,
			hot,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{name},
			#{description},
			#{picture},
			#{hot},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE game_shop SET 	
			name = #{name},
			description = #{description},
			picture = #{picture},
			hot = #{hot},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM game_shop
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE game_shop SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Shop" statementType="STATEMENT">
		select * FROM game_shop  where ${propertyName} = '${value}'
	</select>
	
</mapper>