<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.game.mapper.admin.TasksStatMapper">
    
	<sql id="tasksStatColumns">
		a.id AS "id",
		a.popularity AS "popularity",
		a.pulished AS "pulished",
		a.done AS "done",
		a.totalreward AS "totalReward",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="tasksStatJoins">
		
	</sql>
	
    
	<select id="get" resultType="TasksStat" >
		SELECT 
			<include refid="tasksStatColumns"/>
		FROM game_tasks_stat a
		<include refid="tasksStatJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="TasksStat" >
		SELECT 
			<include refid="tasksStatColumns"/>
		FROM game_tasks_stat a
		<include refid="tasksStatJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="TasksStat" >
		SELECT 
			<include refid="tasksStatColumns"/>
		FROM game_tasks_stat a
		<include refid="tasksStatJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO game_tasks_stat(
			id,
			popularity,
			pulished,
			done,
			totalreward,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{popularity},
			#{pulished},
			#{done},
			#{totalReward},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE game_tasks_stat SET 	
			popularity = #{popularity},
			pulished = #{pulished},
			done = #{done},
			totalreward = #{totalReward},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM game_tasks_stat
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE game_tasks_stat SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="TasksStat" statementType="STATEMENT">
		select * FROM game_tasks_stat  where ${propertyName} = '${value}'
	</select>
	<select id="selectStat" resultType="TasksStat">
		select * FROM game_tasks_stat  
		limit 1 
	</select>
</mapper>