<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.game.mapper.admin.TasksMapper">
    
	<sql id="tasksColumns">
		a.id AS "id",
		a.name AS "name",
		a.code AS "code",
		a.phase AS "phase",
		a.details AS "details",
		a.icon AS "icon",
		a.download AS "download",
		a.num_total AS "numTotal",
		a.num_remain AS "numRemain",
		a.reward AS "reward",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="tasksJoins">
		
	</sql>
	
    <resultMap type="Tasks" id="TasksResult" autoMapping="true">
    	<result column="details" property="details"   typeHandler="com.jeeplus.core.mapper.ConvertBlobTypeHandler"/>
    </resultMap>
    
	<select id="get" resultMap="TasksResult" >
		SELECT 
			<include refid="tasksColumns"/>
		FROM game_tasks a
		<include refid="tasksJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultMap="TasksResult" >
		SELECT 
			<include refid="tasksColumns"/>
		FROM game_tasks a
		<include refid="tasksJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultMap="TasksResult" >
		SELECT 
			<include refid="tasksColumns"/>
		FROM game_tasks a
		<include refid="tasksJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="listTasks" resultType="Tasks">
		SELECT 
			<include refid="tasksColumns"/>
		FROM game_tasks a
		order by
		cast(createDate as datetime) 
		desc
	</select>
	
	<insert id="insert" >
		INSERT INTO game_tasks(
			id,
			name,
			code,
			phase,
			details,
			icon,
			download,
			num_total,
			num_remain,
			reward,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{name},
			#{code},
			#{phase},
			#{details},
			#{icon},
			#{download},
			#{numTotal},
			#{numRemain},
			#{reward},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE game_tasks SET 	
			name = #{name},
			code = #{code},
			phase = #{phase},
			details = #{details},
			icon = #{icon},
			download = #{download},
			num_total = #{numTotal},
			num_remain = #{numRemain},
			reward = #{reward},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM game_tasks
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE game_tasks SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Tasks" statementType="STATEMENT">
		select * FROM game_tasks  where ${propertyName} = '${value}'
	</select>
	
</mapper>