<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.game.mapper.admin.WithdrawMapper">
    
	<sql id="withdrawColumns">
		a.id AS "id",
		a.users_id AS "users.id",
		a.sum AS "sum",
		a.state AS "state",
		a.create_date AS "createDate",
		a.create_by AS "createBy.id",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
		users.alipay_account AS "users.alipayAccount",
		users.realname AS "users.realName",
		users.phone_num AS "users.phoneNum"
	</sql>
	
	<sql id="withdrawJoins">
		
		LEFT JOIN game_users users ON users.id = a.users_id
	</sql>
	
    
	<select id="get" resultType="Withdraw" >
		SELECT 
			<include refid="withdrawColumns"/>
		FROM game_withdraw a
		<include refid="withdrawJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Withdraw" >
		SELECT 
			<include refid="withdrawColumns"/>
		FROM game_withdraw a
		<include refid="withdrawJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="users != null and users.id != null and users.id != ''">
				AND a.users_id LIKE 
					<if test="dbName == 'oracle'">'%'||#{users.id}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{users.id}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{users.id},'%')</if>
			</if>
			<if test="state != null and state != ''">
				AND a.state = #{state}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Withdraw" >
		SELECT 
			<include refid="withdrawColumns"/>
		FROM game_withdraw a
		<include refid="withdrawJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO game_withdraw(
			id,
			users_id,
			sum,
			state,
			create_date,
			create_by,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{users.id},
			#{sum},
			#{state},
			#{createDate},
			#{createBy.id},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE game_withdraw SET 	
			users_id = #{users.id},
			sum = #{sum},
			state = #{state},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM game_withdraw
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE game_withdraw SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Withdraw" statementType="STATEMENT">
		select * FROM game_withdraw  where ${propertyName} = '${value}'
	</select>
	
	<select id="listWithdrawByUserId" resultType="Withdraw">
		SELECT 
		<include refid="withdrawColumns"/>
		FROM game_withdraw a
		<include refid="withdrawJoins"/>
		where
		users_id=#{usersId}
	</select>
</mapper>