<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.weixin.mapper.WxTplMsgTextMapper">
    
	<sql id="wxTplMsgTextColumns">
		a.id AS "id",
		a.tpl_id AS "tplId",
		a.title AS "title",
		a.content AS "content",
		a.wx_tpl AS "wxTpl",
		a.base_id AS "baseId",
		a.account AS "account",
		a.create_date AS "createDate",
		b.input_code AS "wxMsgBase.inputCode",
		b.id AS "wxMsgBase.id"
	</sql>
	
	<sql id="wxTplMsgTextJoins">
		LEFT join wx_msg_base b on b.id=a.base_id
	</sql>
	
    
	<select id="get" resultType="WxTplMsgText" >
		SELECT 
			<include refid="wxTplMsgTextColumns"/>
		FROM wx_tpl_msg_text a
		<include refid="wxTplMsgTextJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="WxTplMsgText" >
		SELECT 
			<include refid="wxTplMsgTextColumns"/>
		FROM wx_tpl_msg_text a
		<include refid="wxTplMsgTextJoins"/>
		<where>
			
			${dataScope}
			<if test="tplId != null and tplId != ''">
				AND a.tpl_id = #{tplId}
			</if>
			<if test="title != null and title != ''">
				AND a.title LIKE 
					<if test="dbName == 'oracle'">'%'||#{title}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{title}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{title},'%')</if>
			</if>
			<if test="wxTpl != null and wxTpl != ''">
				AND a.wx_tpl = #{wxTpl}
			</if>
			<if test="account != null and account != ''">
				AND a.account = #{account}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="WxTplMsgText" >
		SELECT 
			<include refid="wxTplMsgTextColumns"/>
		FROM wx_tpl_msg_text a
		<include refid="wxTplMsgTextJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO wx_tpl_msg_text(
			id,
			tpl_id,
			title,
			content,
			wx_tpl,
			base_id,
			account,
			create_date
		) VALUES (
			#{id},
			#{tplId},
			#{title},
			#{content},
			#{wxTpl},
			#{baseId},
			#{account},
			#{createDate}
		)
	</insert>
	
	<update id="update">
		UPDATE wx_tpl_msg_text SET 	
			tpl_id = #{tplId},
			title = #{title},
			content = #{content},
			wx_tpl = #{wxTpl},
			base_id = #{baseId},
			account = #{account}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM wx_tpl_msg_text
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE wx_tpl_msg_text SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="WxTplMsgText" statementType="STATEMENT">
		select * FROM wx_tpl_msg_text  where ${propertyName} = '${value}'
	</select>
	
</mapper>