.login{
	width:100%;
	height: 100%;
	background: url(../images/login.png) no-repeat;
	background-size: 100% 100%;
}
.logo{
	width: 40%;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.user{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 1.6rem;
	padding: 0.5rem;
	border-radius: 15px;
	background-color: #fff;
}
.user input{
	float: left;
	width: 80%;
	border: none;
	background-color: #fff;
}
.user img{
	float: left;
	width: 20%;
}
.login span{
	display: inline-block;
	width: 80%;
	margin: 0 auto;
	padding: 0.8rem 0;
	border-radius: 8px;
	margin-top: 2.6rem;
	color: #fff;
	background-color: #ff1111;
}
.login-other{
	width: 80%;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 4rem;
	text-align: left;
}
.login-other a{
	color: #fff;
}
.login-other a:last-child{
	float: right;
}


/*个人中心*/
.personal{
	width: 100%;
}
.per-title{
	width: 100%;
	height: 10rem;
	padding-left: 1.6rem;
	margin-bottom: 0.5rem;
	background: url(../images/personal_02.png) no-repeat;
	background-size: 100% 100%;
}
.per-title>p{
	width: 100%;
	height: 2rem;
	padding-top: 0.4rem;
	padding-right: 0.4rem;
	text-align: right;
}
.per-title>p a{
	float: right;
}
.per-title>p a img{
	width: 44%;
}
.per-title>img{
	float: left;
	width: 20%;
}
.per-title-right{
	padding-top: 0.6rem;
	text-align: left;
	margin-left: 5rem;
}
.per-title-right h2{
	color: #fff;
}
.per-title-right p{
	text-align: left;
}
.personal-list{
	padding: 0.3rem 0.5rem;
	text-align: left;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
.personal-list img{
	width: 10%;
}
.personal-list a{
	float: right;
	margin-top: 0.6rem;
	color: #868686;
}
.personal-list a span{
	color: #e50101;
}
.personal-list:nth-child(4){
	margin: 0.6rem 0;
}
.personal>span{
	display: inline-block;
	width: 90%;
	margin: 0 auto;
	padding: 0.6rem 0;
	margin-top: 2rem;
	border-radius: 8px;
	color: #fff;
	background-color: #ff1111;
}
.personal .logOut{
	width: 90%;
	margin: 0 auto;
	padding: 0.4rem 0;
	margin-top: 2rem;
	border-radius: 8px;
	color: #fff;
	background-color: #ff1111;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.footer-list{
	float: left;
	width: 33%;
	padding-top: 0.5rem;
	background-color: #fff;
}
.footer-list img{
	width: 26%;
}




/*任务查看器*/
.taskView{
	width: 100%;
}
.taskView-title{
	width: 100%;
	margin-bottom: 0.4rem;
}
.taskView-list{
	float: left;
	width: 25%;
	padding: 0.5rem 0;
	background-color: #fff;
}
.taskView-title .active{
	color: #58cce6;
}
.taskView-list:active,.taskView-list:visited{
	color: #58cce6;
}
.taskView-tab{
	display: none;
}
.taskView-tabs{
	width: 100%;
	text-align: left;
	padding: 0.5rem;
	margin-bottom: 0.4rem;
	background-color: #fff;
}
.taskView-left{
	display: inline-block;
}
.taskView-left h2{
	line-height: 1rem;
	font-size: 16px;
}
.taskView-left p{
	padding-left: 0.4rem;
	font-size: 12px;
	color: #7d7d7d;
}
.taskView-tabs span{
	float: right;
	margin-top: 0.6rem;
	color: #ed0101;
}
.taskDetail-title{
	padding: 0.5rem;
	margin-top: 0.4rem;
	margin-bottom: 0.5rem;
	text-align: left;
	color: #299dff;
	background-color: #fff;
}
.taskDetail-title img{
	width: 14%;
}
.taskDetail-title span{
	font-size: 16px;
}
.taskDetail-commit-content{
	padding: 0.5rem;
	margin-top: 0.4rem;
	margin-bottom: 0.5rem;
	text-align: left;
	color: #808080;
	background-color: #fff;
}
.taskDetail-commit-content span{
	font-size: 14px;
}
.taskDetail-most{
	padding: 0.5rem;
	text-align: left;
	background-color: #fff;
}
.taskDetail-most p{
	font-size: 12px;
	color: #808080;
}
.taskDetail-most p.p-title{
	font-size: 16px;
}
.taskDetail-most p.p-title i{
	color: #ff1111;
}
.taskDetail-content{
	padding: 0.4rem 0;
	margin-bottom: 0.4rem;
	margin-top: 0.4rem;
	border-top: 1px dotted #808080;
	border-bottom: 1px dotted #808080;
}
.taskDetail-most p.p-bot{
	line-height: 3rem;
	font-size: 14px;
}
.taskDetail>p{
	width: 90%;
	margin: 0 auto;
	padding: 0.4rem 0;
	margin-top: 2rem;
	border-radius: 8px;
	color: #fff;
	background-color: #ff1111;
}
.onload{
	display: none;
	position: fixed;
	bottom: 5rem;
	width: 90%;
	margin: 0 auto;
	left: 5%;
	padding: 1rem 0;
	background-color: #56b2ff;
}
.onload-img{
	width: 30%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 1rem;
	color: #fff;
	border: 1px dotted #fff;
}
.onload-img img{
	width: 100%;
}
.onload-img input{
	display: none;
}
.onload textarea{
	width: 90%;
	height: 6rem;
	margin: 0 auto;
	color: #959595;
}
.onload span{
	display: block;
	width: 50%;
	margin: 0 auto;
	padding: 0.6rem 0;
	border-radius: 8px;
	color: #fff;
	background-color: #ff1111;
}
.shop{
	width: 100%;
	padding: 0 1%;
}
.shop-list{
	float: left;
	width: 49%;
	margin-bottom: 0.8rem;
}
.shop-list:nth-of-type(odd){
	margin-right: 2%;
}
.shop-list img{
	width: 100%;
}
.shop-list p{
	line-height: 2.6rem;
	background-color: #fff;
}
.hdbanner{
	position: relative;
	width: 100%;
}
.hdbanner .bd ul li{
	float: left;
}
.hdbanner .bd ul li a img{
	width: 100%;
}
.hdbanner .hd{
	position: absolute;
	left: 35%;
    bottom: 5px;
}
.hdbanner .hd ul li{
	width: 10px;
	height: 10px;
	margin: 0 8px;
	border-radius: 50%;
	float: left;
	color: transparent;
	background-color: transparent;
	border: 1px solid #fff;
}
.hdbanner .hd ul li.on{
	background: #fff;
}

.notice{
	width:100%;
	padding: 0.4rem ;
	background-color: #fff;
}
.notice img{
	float: left;
	width: 10%;
}
.txtMarquee-top{
	padding-left: 12%;
	text-align: left;
}
.txtMarquee-top ul li{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.data{
	color: #fff;
	background-color: #f58400;
}
.data-list{
	float:left;
	width:33%;
}
.todayTask-title{
	margin: 0.4rem 0;
	background-color: #fff;
}
.todayTask-title .active{
	color: #299dff;
}
.todayTask-list{
	float: left;
	width: 33%;
	padding-top: 0.6rem;
	padding-bottom: 0.2rem;
}
.todayTask-list img{
	width: 40%;
}
.todayTask-tab{
	display: none;
}
.todayTask-tabs{
	padding: 0.4rem;
	margin-bottom: 0.4rem;
	background-color: #fff;
}
.todayTask-tabs>img{
	float: left;
	width: 20%;
}
.todayTask-right{
	padding-left: 22%;
	text-align: left;
}
.todayTask-right p{
	height: 1.6rem;
	line-height: 1.6rem;
	color: #5d5d5d;
}
.todayTask-right p:last-child{
	color: #ff1111;
}
.todayTask-right p span:last-child{
	float: right;
	text-align: right;
}
.todayTask-right p span img{
	width: 20%;
}
.todayTask-right p img{
	width: 10%;
}
.notify-list{
	padding: 0.4rem;
	text-align: left;
	background-color: #fff;
	margin-top: 0.4rem;
}
.notify-list a{
	float: left;
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	margin-top: 0.6rem;
	border-radius: 50%;
	background-color: #FF1111;
}
.notify-list span{
	float: right;
	font-size: 16px;
	color: #FF1111;
}
.notify-most{
	line-height: 1.3rem;
	display: inline-block;
}
.notify-most h2{
	font-size: 16px;
	color: #000;
}
.notify-most  p{
	padding-left: 0.5rem;
	font-size: 12px;
	color: #7d7d7d;
}
.changePassword{
	padding: 0 2%;
	padding-top: 1rem;
	text-align: left;
}
.telphone{
	margin-bottom: 2rem;
	border: 1px solid #a4a4a4;
}
.telphone input{
	border: none;
}
.verification{
	margin-bottom: 2rem;
}
.verification span{
	display: inline-block;
	padding: 0.4rem 1.2rem;
	border-radius: 12px;
	background-color: #FF1111;
	color: #fff;
}
.changePassword button{
	width: 70%;
    margin-left: 15%;
    padding: 0.6rem 0;
    border-radius: 8px;
    margin-top: 5REM;
    color: #fff;
    background-color: #FF1111;
}
.balance-title{
	padding: 0.6rem 0;
	background-color: #fff;
}
.balance-title .active{
	color: #00bee0;
}
.balance-list{
	float: left;
	width: 50%;
}
.balance-list:first-child{
	border-right: 1px solid #bfbfbf;
}
.balance-list span{
	display: inline-block;
	width: 97%;
}
.balance-tab{
	display: none;
}
.withdraw{
	margin-top: 0.6rem;
	padding: 0 2%;
}
.withdraw-most{
	padding: 0.5rem;
	background-color: #fff;
	text-align: left;
}
.withdraw-most p{
	margin-bottom: 0.4rem;
	border-bottom: 1px solid #bfbfbf;
}
.withdraw-most p input{
	border: none;
}
.withdraw-most p span{
	color: #00bee0;
}
.withdraw-most div{
	text-align: right;
}
.withdraw button{
	width: 100%;
	padding: 0.6rem 0;
	border-radius: 8px;
	margin-top: 5rem;
	color: #fff;
	background-color: #FF1111;
}
.register-list{
	padding: 0 2%;
	margin-top: 0.6rem;
	background-color: #fff;
}
.register-list span{
	float: left;
	line-height: 2.6rem;
	text-align: right;
	display: inline-block;
	width: 20%;
}
.register-right{
	line-height: 2.6rem;
	padding-left: 22%;
	text-align: left;
}
.register-right input[type=text]{
	width: 100%;
}
.register p{
	padding: 0 2%;
	margin-top: 0.6rem;
	text-align: left;
}
.register-list select{
	width: 30%;
	height: 2rem;
	color: #a4a4a4;
}
.register-lists{
	padding: 0 2%;
	margin-top: 0.6rem;
}
.register-rights{
	float: left;
}
.register-lists span{
	float: left;
	padding: 0.4rem 1rem;
	border-radius: 10px;
	margin-top: 0.3rem;
	margin-left: 0.4rem;
	color: #fff;
	background-color: #FF1111;
}
.register button{
	width: 90%;
	padding: 0.6rem 0;
	border-radius: 8px;
	margin-top: 2rem;
	color: #fff;
	background-color: #FF1111;
}
